.games {
    background: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.5rem rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 2rem);

    .title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .description {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-width: 800px;
        margin-top: 3rem;

        .card {
            margin: 1rem;
            flex-basis: 45%;
            padding: 1.5rem;
            text-align: left;
            color: inherit;
            text-decoration: none;
            border: 1px solid #eaeaea;
            border-radius: 10px;
            transition: color 0.15s ease, border-color 0.15s ease;

            &:hover,
            &:focus,
            &:active {
                color: #0070f3;
                border-color: #0070f3;
            }

            h3 {
                margin: 0 0 1rem 0;
                font-size: 1.5rem;
            }

            p {
                margin: 0;
                font-size: 1.25rem;
                line-height: 1.5;
            }
        }
    }
}

.roomSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        width: 100%;
        padding: 1rem;
        background: rgb(33, 33, 33);
        color: rgb(255, 255, 255);
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem 0.5rem rgb(0, 0, 0);

        .roomJoin {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            max-width: 500px;
            padding: 1rem;
            background: rgb(33, 33, 33);
            color: rgb(255, 255, 255);
            border-radius: 0.5rem;
            box-shadow: 0 0 0.5rem 0.5rem rgb(0, 0, 0);

            h2 {
                font-size: 2rem;
                font-weight: 700;
                margin: 1rem;
            }

            .roomJoinForm {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                max-width: 500px;
                padding: 1rem;
                background: rgb(33, 33, 33);
                color: rgb(255, 255, 255);
                border-radius: 0.5rem;
                box-shadow: 0 0 0.5rem 0.5rem rgb(0, 0, 0);

                label {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }
                
                input {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 1px solid rgb(255, 255, 255);
                    background: rgb(33, 33, 33);
                    color: rgb(255, 255, 255);
                    transition: border 0.15s ease;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: rgb(255, 255, 255);
                    }

                    &:hover {
                        border: 1px solid rgb(0, 0, 255);
                    }
                }

                button {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    border: 1px solid rgb(255, 255, 255);
                    background: rgb(33, 33, 33);
                    color: rgb(255, 255, 255);
                    transition: border 0.15s ease;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        border: 1px solid rgb(0, 0, 255);
                    }
                }
            }

            .roomList {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                max-width: 500px;
                padding: 1rem;
                background: rgb(33, 33, 33);
                color: rgb(255, 255, 255);
                border-radius: 0.5rem;
                box-shadow: 0 0 0.5rem 0.5rem rgb(0, 0, 0);

                h3 {
                    font-size: 1.5rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }

                .room {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    height: 10rem;
                    width: 100%;
                    max-width: 500px;
                    padding: 1rem;
                    background: rgb(33, 33, 33);
                    color: rgb(255, 255, 255);
                    border-radius: 0.5rem;
                    box-shadow: 0 0 0.5rem 0.5rem rgb(0, 0, 0);
                    margin-bottom: 1rem;

                    h3 {
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }

                    p {
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }

                    button {
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 1rem;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border: 1px solid rgb(255, 255, 255);
                        background: rgb(33, 33, 33);
                        color: rgb(255, 255, 255);
                        transition: border 0.15s ease;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            border: 1px solid rgb(0, 0, 255);
                        }
                    }
                }
            }
        }

        .roomCreate {
            position: relative;
            height: 100%;
            width: 100%;
            max-width: 500px;
            
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                max-width: 500px;
                padding: 1rem;
                background: rgb(33, 33, 33);
                color: rgb(255, 255, 255);
                border-radius: 0.5rem;
                box-shadow: 0 0 0.5rem 0.5rem rgb(0, 0, 0);

                h2 {
                    
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    max-width: 500px;
                    padding: 1rem;
                    background: rgb(33, 33, 33);
                    color: rgb(255, 255, 255);
                    border-radius: 0.5rem;
                    box-shadow: 0 0 0.5rem 0.5rem rgb(0, 0, 0);

                    label {
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }
                    
                    input {
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 1rem;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border: 1px solid rgb(255, 255, 255);
                        background: rgb(33, 33, 33);
                        color: rgb(255, 255, 255);
                        transition: border 0.15s ease;

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: rgb(255, 255, 255);
                        }

                        &:hover {
                            border: 1px solid rgb(0, 0, 255);
                        }
                    }

                    select {
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 1rem;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border: 1px solid rgb(255, 255, 255);
                        background: rgb(33, 33, 33);
                        color: rgb(255, 255, 255);
                        transition: border 0.15s ease;
                        position: relative;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            border: 1px solid rgb(0, 0, 255);
                        }

                        &::placeholder {
                            color: rgb(255, 255, 255);
                        }

                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        &::after {
                            content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            width: 2rem;
                            height: 2rem;
                            pointer-events: none;
                        }

                        option {
                            font-size: 1.5rem;
                            font-weight: 400;
                            margin-bottom: 1rem;
                            padding: 0.5rem;
                            border-radius: 0.5rem;
                            border: 1px solid rgb(255, 255, 255);
                            background: rgb(33, 33, 33);
                            color: rgb(255, 255, 255);
                            transition: border 0.15s ease;

                            &:focus {
                                outline: none;
                            }

                            &:hover {
                                border: 1px solid rgb(0, 0, 255);
                            }
                        }
                    }

                    button {
                        font-size: 1.5rem;
                        font-weight: 400;
                        margin-bottom: 1rem;
                        padding: 0.5rem;
                        border-radius: 0.5rem;
                        border: 1px solid rgb(255, 255, 255);
                        background: rgb(33, 33, 33);
                        color: rgb(255, 255, 255);
                        transition: border 0.15s ease;
                        cursor: pointer;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            border: 1px solid rgb(0, 0, 255);
                        }
                    }
                }
            }
        }
    }
}